---
import "../styles/index.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://steady-mermaid-d33755.netlify.app/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/   Challenges/edh4plxzojh64puqwui0.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://steady-mermaid-d33755.netlify.app/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://res.cloudinary.com/dz209s6jk/image/upload/f_auto,q_auto,w_700/Challenges/edh4plxzojh64puqwui0.jpg" />
    <title>{title}</title>
  </head>
  <body class="text-white bg-black overflow-x-hidden">
    <slot />
  </body>
</html>
